<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobilePharmacy"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/panda"
            />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".MessagePush"
            android:enabled="true"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".AddToFirstAidKitActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".MyDosageActivity"
            android:exported="false"
            android:theme="@style/Theme.MobilePharmacy.NoActionBar" />
        <activity
            android:name=".AddHealthActivity"
            android:exported="false"
            android:theme="@style/Theme.MobilePharmacy.NoActionBar" />
        <activity
            android:name=".DiseasesActivity"
            android:exported="false"
            android:theme="@style/Theme.MobilePharmacy.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.MobilePharmacy.NoActionBar" />
        <activity
            android:name=".AddDosageActivity"
            android:exported="false"
            android:theme="@style/Theme.MobilePharmacy.NoActionBar" />
        <activity
            android:name=".AfterLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MobilePharmacy.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MobilePharmacy.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MobilePharmacy.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MobilePharmacy.NoActionBar" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="Powiadomienie" />

        <receiver
            android:name=".MedicationReminderReceiver"
            android:exported="false" />
    </application>

</manifest>